{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<div class="relative md:w-2/3 md:ml-1/3">
	{{ if .Site.Data.about }}{{ partial "about.html" . }}{{ end }}
	{{ if .Site.Data.expertise }}{{ partial "expertise.html" . }}{{ end }}
	{{ if .Site.Data.experience }}{{ partial "experience.html" . }}{{ end }}
	{{ if .Site.Data.projects }}{{ partial "projects.html" . }}{{ end }}


<div style="z-index: 4; position: relative;">
	{{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}{{ partial "blog.html" . }}{{ end }}
	{{ if gt (len (where .Data.Pages "Type" "work")) 0 }}{{ partial "work.html" . }}{{ end }}
</div>

	{{ partial "contact.html" . }}		
</div>
{{ partial "footer-scripts.html" . }}
	